html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #21b0a6 0%, #e0f7fa 100%);
}

.reset-password-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding-top: 230px;
}

.reset-password-content {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.reset-card {
  width: 550px;
  background: linear-gradient(135deg, #21b0a6 0%, #e0f7fa 100%);
  padding: 34px 28px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  z-index: 3;
  text-align: center;
}

.reset-title {
  font-family: serif;
  font-size: 2.5rem; /* Ajustado para el título */
  font-weight: 700;
  color: #222;
  margin: 10px 0;
}

.reset-subtitle {
  color: #545151;
  margin-bottom: 24px;
}

.reset-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reset-form input {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #9adaab;
  font-size: 1rem;
}

.reset-btn {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 6px 18px rgba(0, 168, 132, 0.2);
}

.reset-btn:hover {
  background: #21b0a6;
  color: #fff;
}

.reset-message {
  margin-top: 1rem;
  color: #333;
  font-weight: 500;
  background: #f1f1f1;
  padding: 0.6rem;
  border-radius: 8px;
}

/* ========== Decoraciones ========== */
.reset-decor-top-right {
  position: absolute;
  right: -200px;
  top: -200px;
  max-width: 450px;
  width: 100%;
  height: auto;
  z-index: 1;
}

.reset-decor-top-left {
  position: absolute;
  left: -300px;
  top: -90px;
  max-width: 500px;
  width: 100%;
  height: auto;
  z-index: 1;
}

.reset-decor-bottom-right {
  position: absolute;
  right: -100px;
  bottom: -20%;
  bottom: 10px;
  max-width: 500px;
  width: 100%;
  height: auto;
  z-index: 1;
}

.reset-decor-bottom-left {
  position: absolute;
  left: -100px;
  bottom: 40px;
  max-width: 420px;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* ========== Responsive ========== */
@media (max-width: 980px) {
  .reset-card { width: 360px; }
  .reset-title { font-size: 2rem; }
}

@media (max-width: 768px) {
  .reset-decor-top-right,
  .reset-decor-top-left,
  .reset-decor-bottom-right,
  .reset-decor-bottom-left {
    max-width: 200px;
  }
}

@media (max-width: 640px) {
  .reset-card { width: 92%; padding: 26px; }
  .reset-title { font-size: 1.8rem; margin-bottom: 20px; }
  .reset-decor-top-right,
  .reset-decor-top-left,
  .reset-decor-bottom-right,
  .reset-decor-bottom-left {
    display: none;
  }
}